* {
    /*padding: 0;
    margin: 0;
    box-sizing: border-box;

    */
    background-color: #f0ede5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;

    color: #1d1c1c;
}


h1.heading{
    padding: 10px;
    margin: 20px;
    font-size: 36px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


h2.subheading {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

/*
div ul.main-list{
    text-align: center;
}
*/
ul.main-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-list li {
    list-style-type: none;
    line-height: 30px;
    font-weight: 800;
    padding:20px;
}



li a{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
    color: rgb(50, 100, 81);

}

li a:visited{
    color: #1d1c1c;
}

.recipe-img {
    text-align: center;
}

.recipe-img img{
    width: 400px;
    height: auto;
}